Source: cddaripper
Section: misc
Priority: optional
Maintainer: janbar <jlbarriere68@gmail.com>
Build-Depends: cmake, git, flex, bison,
               debhelper-compat (= 12),
               qt6-base-dev (>= 6.9),
               libqt6dbus6,
               libqt6svg6,
               zlib1g-dev,
               libssl-dev,
               libdbus-1-dev,
               libmusicbrainz5-dev,
               libcdparanoia-dev
Standards-Version: 3.9.6
Homepage: https://github.com/janbar/CDDA-Ripper

Package: cddaripper
Architecture: any
Depends: qt6-translations-l10n,
         libqt6dbus6,
         libqt6svg6,
         libqt6gui6,
         zlib1g,
         openssl,
         ${shlibs:Depends}, ${misc:Depends}
Recommends: flac, vorbis-tools, lame, faac, opus-tools
Description: An easy to use audio CD ripping application
